<html>
<head>
	<title>CHANGE IRN SCREEN</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" href="../../tmpl/css/popup.css" rel="stylesheet" />
	<script type="text/javascript" src="../../htm/js/indecator.js"></script>
	<script type="text/javascript" src="../../htm/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="../../htm/js/jquery-ui-1.8.9.custom.min.js"></script>
	<script type="text/javascript" src="../../htm/js/jquery.crypt.js"></script>
	<script type="text/javascript" src="../../htm/js/base.js"></script>
	
	<style type="text/css">
		body{
			font-size: 12px;
		}
		
		#outter{
			width:1000px;
			margin: 0 auto;
			margin-top:20px;
		}
		
		#header{
			width:450px;	
			padding-top:15px;
		}
		
		#content{
			/*width: 300px;
			background-color: #DCE6F2;
			border: 1px solid #8EB4E3;
			padding: 25px;*/
		}
		
		#footer{
			text-align:center;
			margin-top:300px;
			color: #827EB1;
		}
		
		.row{			
			margin: 5px;
			margin-right: 30px;
		}
		
		.prpoNo{
			font-weight: bold;
			text-align: left;
			width: 65px;
			padding-right: 5px;
			height: 20px;
			float: left;
			padding-top: 6px;
			color: #17375E;
		}
		
		.prpoNoDate{
			margin-left: 280px;
			float: left;
			width: 40%;
		}
		.title{
			height:34px;
		}
		
		.inputHeight{
			height:25px;
		}
		
		.txt-center{
			text-align:center;
		}
		
		
		#titleSResul{
			width:100%; 
			display:table;			
			background-color: #17375E;
			color: #FFFFFF;
			font-weight:bold;
		}
		
			
		.txt-center{
			text-align:center;
		}
		
		#indecator{
			margin-left: 298px;
		}
		/*header*/
	.bg-titlemp{
		color:#c00000;
	}
	.mp-title{
		font-size: 16pt;
		font-weight: bold;
		margin: 5px;
		float: left;
	}
	.bg-line{
		color:#4a7ebb;
		margin-bottom: 10px;
	}
	.bo-bottom{
		border-bottom: 1px solid;
	}
	a#logout{
		float: right;
		font-size: 10px;
		margin-top: 15px;
	}
	.login{
		color: blue;
		float: right;
		font-size: 15px;
		font-style: italic;
		font-weight: normal;
		margin-right: 10px;
		margin-top: 13px;
	}
	
	
	
	.text-center{
		text-align:center;
	}
	
	.color-title{
		color:#17375e;
	}
	
	.text-left{
		text-align:left;
	}
	
	
	
	a{
		color:#000000;
	}
	
	a:hover{
		color:blue;
	}
	
	a.choose{
		color: blue;
		font-weight: bold;
		text-decoration: underline;
	}
	
	.display{
		display:block;
	}
	.display-none{
		display:none;
	}
	
	.iconLogin {
		background: url("../../img/ajax-loader.gif") no-repeat scroll left center transparent;
		width: 33px;
		height: 31px;
		margin: auto;
	}
	
	.iconDelete{
		background: url("../../img/icon-delete.png") no-repeat scroll left center transparent;
		width: 16px;
		height: 16px;
		margin: auto;
	}
	
	.iconArrow {
		background: url("../../img/arrow.jpg") no-repeat scroll left center transparent;
		width: 33px;
		height: 31px;
		margin: auto;
		margin-top: -4px;
	}
	
	.iconRed {
		background: url("../../img/red.PNG") no-repeat scroll left center transparent;
		width: 33px;
		height: 42px;
		top: 164px;
		position: absolute;
		left: 640px;
	}
	
	.iconBlue {
		background: url("../../img/blue.PNG") no-repeat scroll left center transparent;
		width: 33px;
		height: 42px;
		top: 164px;
		position: absolute;
		left: 640px;
	}
	
	#pwd{
		margin-left: 10px;
		width: 173px;
		float: left;
		height: 25px;
	}
	
	/*
		Table
	*/
	#info{
		position: absolute;
		left: 670px;
		height: 109px;
		border-radius: 10px;
		top: 176px;
		font-size: 16px;
		font-family: Times New Roman;
		padding: 5px 5px;
		width: 400px;
		border: 1px solid silver;
	}
	
	#info img{
		width: 85px;
		float: right;
	}
	
	#grid{
		/*margin-top:50px;*/
		overflow-y: auto;
		max-height: 351px;
		overflow-x: hidden;
	}
		
	
	table th{
		background-color: #17375E;
		color: white;
		padding:2px;
	}
	table td{
		padding:3px;
		border-right: 1px solid #8EB4E3;
		border-bottom: 1px solid #8EB4E3;
	}
	
	table td.border{
		border-left: 1px solid #8EB4E3;
	}
	
	tr:nth-child(even){
		background-color: rgb(220, 230, 242);
	}
	
	tr:nth-child(odd){
		background-color:#FFF;
	}
	
	.choose{
		background-color:pink !important;
	}
	
	table td.col-1{
		width: 36px;
	}
	table td.col-2{
		width: 247px;
	}
	table td.col-3{
		width: 87px;
	}
	table td.col-4{
		width: 223px;
	}
	
	</style>
	
	<script type="text/javascript">
		var stt=0;
		var dataSearch='';
		var lag=false; // cờ dùng để check MSSV chính xác
	
		function enableCheckIcon(){
			document.getElementById("mssv").value="";
			//removeClass(document.getElementById('iconArrow'),'display-none');
			addClass(document.getElementById('iconRed'),'display-none');
			addClass(document.getElementById('iconBlue'),'display-none');
		}
		
		function disableCheckIcon(){
			addClass(document.getElementById('iconRed'),'display-none');
			addClass(document.getElementById('iconBlue'),'display-none');
		}
		
		function resetStt(){
			var temp1 = document.getElementsByClassName('border');
			
			for(i=0;i<temp1.length; i++){
				var divid = new String(temp1[i].id);
				if(divid.indexOf('r-td-')==0){
					document.getElementById(divid).innerHTML = (i+1);
				}
			}
			
		}
		
		function showPopUp(){
			//addClass(document.getElementById('mssv'),'display-none');
			openPopup("unlockApp","password");
		}
		
		/*function checkPwd(){
			var value = document.getElementById('pwd').value;
			var url = "ajaxCheckPwd.htm";
			
			var queryString = "";
			
			queryString += "pwd="+value;
		//	alert(queryString);
			htmlRequest = ajaxFunction();
			if (htmlRequest==null){ // If it cannot create a new Xmlhttp object.
				alert ("Browser does not support HTTP Request");
				return;
			}
			
			htmlRequest.onreadystatechange = function(){
				if(htmlRequest.readyState == 4){
				//	alert(htmlRequest.responseText);
					if(trim(htmlRequest.responseText)== 'OK'){
						location.href = "reports.htm";
					}else{
						alert("Mật khẩu không hợp lệ. Vui lòng nhập lại mật khẩu!");
					}
				}
			}
			
			htmlRequest.open("POST", url,true);
			htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				
			htmlRequest.send(queryString);
		}*/
		
		function checkEnter(e){
			var keynum
			var keychar
			var numcheck
			
			if (e.keyCode == 13){
				checkMSSV(document.getElementById('mssv'));
			}
		}
		
		function ajaxDeleteEmailResetPwd(rowID) {
			var url = "ajaxDeleteEmailResetPwd.htm";
			var queryString = "";
			
			queryString += "RowID="+rowID;
		
			htmlRequest = ajaxFunction();
			if (htmlRequest==null){ // If it cannot create a new Xmlhttp object.
				alert ("Browser does not support HTTP Request");
				return;
			}
			htmlRequest.onreadystatechange = function(){
				if(htmlRequest.readyState == 4){
					if(trim(htmlRequest.responseText)!= 'NG'){
						var rowDelete = document.getElementById('r-'+rowID);
						document.getElementById('dsemail').removeChild(rowDelete);
						resetStt();
					}else{
					}
				}
			}
			
			htmlRequest.open("POST", url,true);
			htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				
			htmlRequest.send(queryString);
			
		}
		
		function getRowSelected(){
			var rowList = document.getElementsByClassName('choose');
			
			if(rowList.length!=0){
				var jsonString = "RecordID=";
				for(var j=0;j<rowList.length;j++){
					var divid = new String(rowList[j].id);
					
					if(divid.indexOf('r-')==0){
						if(j==rowList.length-1){
							jsonString += divid;
						}else{
							jsonString += divid+",";
						}
					}
				}
				return jsonString.replace(/r-/g, "");
			}else{
				return "";
			}
		}
		
		function deleteRowChoose(){
			var table = document.getElementById('dsemail');
			var rowList = document.getElementsByClassName('choose');
			for(j=rowList.length-1;j>=0;j--){
				table.removeChild(rowList[j]);
			}
			resetStt();
		}
		
		function ajaxExportCSVFile() {
			var url = "ajaxExportCSVFileResetPwd.htm";
			
			var queryString = getRowSelected();
			
			if(document.getElementById('checkAll').value==1 || queryString!=''){
				queryString += "&checkAll="+document.getElementById('checkAll').value;
		
				htmlRequest = ajaxFunction();
				if (htmlRequest==null){ // If it cannot create a new Xmlhttp object.
					alert ("Browser does not support HTTP Request");
					return;
				}
				htmlRequest.onreadystatechange = function(){
					if(htmlRequest.readyState == 4){
						//alert(htmlRequest.responseText);
						if(trim(htmlRequest.responseText)!= ''){
							deleteRowChoose();
						}
						alert(trim(htmlRequest.responseText));
					}
				}
				
				htmlRequest.open("POST", url,true);
				htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
				htmlRequest.send(queryString);
			}else{
				alert("Please choose the export record.");
			}
		}
		
		function deleteRow(rowID){
			msg=confirm('Are you sure you want to delete this record?');
		//	alert(msg);
			if (msg==true){
				ajaxDeleteEmailResetPwd(rowID);
			}
		}
		
		function addClick(rowID){
			var lag = document.getElementById('check-'+rowID).value;
			if(lag==0){
				addClass(document.getElementById('r-'+rowID),'choose');
				document.getElementById('check-'+rowID).value=1;
			}else{
				removeClass(document.getElementById('r-'+rowID),'choose');
				document.getElementById('check-'+rowID).value=0;
			}
		}
		
		function clickCheckBox(obj){
			if(obj.value==0){
				obj.value=1;
				var trList = document.getElementsByTagName('TR');
				for(k=0;k<trList.length;k++){
					if(trList[k].id != 'title'){
						addClass(trList[k],'choose');
					}
				}
			}else{
				obj.value=0;
				var trList = document.getElementsByTagName('TR');
				for(k=0;k<trList.length;k++){
					if(trList[k].id!='title'){
						removeClass(trList[k],'choose');
					}
				}
			}
		}
		
		function loadRowTable(row){
		//	alert(row.RecordID);
			var tr = document.createElement('TR');
			tr.setAttribute('id', 'r-'+row.RecordID);
				
			var td = document.createElement('td');
			td.setAttribute('class','border col-1');
			td.setAttribute('id','r-td-'+row.RecordID);
			td.setAttribute('onclick',"addClick("+row.RecordID+")");
			td.innerHTML =(stt+1);
			tr.appendChild(td);
			
			td = document.createElement('td');
			ta = document.createTextNode(row.FullName);
			td.appendChild(ta);
			td.setAttribute('class','col-2');
			td.setAttribute('onclick',"addClick("+row.RecordID+")");
			tr.appendChild(td);
			
			td = document.createElement('td');
			var ta = document.createTextNode(row.NewIRN);
			td.appendChild(ta);
			td.setAttribute('onclick',"addClick("+row.RecordID+")");
			td.setAttribute('class','col-3');
			tr.appendChild(td);	

			td = document.createElement('td');
			var ta = document.createTextNode(row.OldIRN);
			td.appendChild(ta);
			td.setAttribute('onclick',"addClick("+row.RecordID+")");
			td.setAttribute('class','col-3');
			tr.appendChild(td);				
			
			
			/*td = document.createElement('td');
			ta = document.createTextNode(row.TenVN);
			td.appendChild(ta);
			td.setAttribute('onclick',"addClick("+row.RecordID+")");
			tr.appendChild(td);*/
			
			td = document.createElement('td');
			ta = document.createTextNode(row.SchoolEmail);
			td.appendChild(ta);
			td.setAttribute('onclick',"addClick("+row.RecordID+")");
			td.setAttribute('class','col-4');
			tr.appendChild(td);
			
			td = document.createElement('td');
			ta = document.createTextNode(row.OldEmail);
			td.appendChild(ta);
			td.setAttribute('onclick',"addClick("+row.RecordID+")");
			td.setAttribute('class','col-4');
			tr.appendChild(td);
			
			td = document.createElement('td');
			
			/*var deleteImg = document.createElement('div');
			deleteImg.setAttribute('id','del-'+row.RecordID);
			deleteImg.setAttribute('class','iconDelete');
			deleteImg.setAttribute('onClick',"deleteRow('"+row.RecordID+"')");
			td.appendChild(deleteImg);
			tr.appendChild(td);*/
			
			var checkbtn = document.createElement('input');
			checkbtn.setAttribute('id','check-'+row.RecordID);
			checkbtn.setAttribute('hidden','');
			checkbtn.value=0;
			
			tr.appendChild(checkbtn);
			
			stt++;
			return tr;
		}
		
		function loadTable(arrList){
			var ResNum = arrList.Result.length;
			
			i=0;
			
			document.getElementById('grid').innertHTML = '';
			table = document.getElementById('dsemail');
		
			for(i;i<ResNum;i++){
				tr = loadRowTable(arrList.Result[i]);
				table.appendChild(tr);
			}
			
			document.getElementById('grid').appendChild(table);
		}		
		
		function ajaxLoadTableChangeIRN(){
			var url = "ajaxLoadListSVChangeIRN.htm";
			var queryString = "";
			
			htmlRequest = ajaxFunction();
			if (htmlRequest==null){ // If it cannot create a new Xmlhttp object.
				alert ("Browser does not support HTTP Request");
				return;
			}
			
			htmlRequest.onreadystatechange = function(){
				if(htmlRequest.readyState == 4){
					//alert(htmlRequest.responseText);exit();
					if(trim(htmlRequest.responseText)!= 'NG'){
						var data = trim(htmlRequest.responseText);
						data = eval('(' + data + ')');
					
						loadTable(data);
					}else{
						
					}
				}
			}
			
			htmlRequest.open("POST", url,true);
			htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				
			htmlRequest.send(queryString);
		}
		
		function getDataAdd(newIRN){
			saveInfo = "{";
			saveInfo += '"IRN":"'+document.getElementById("masv").innerHTML+'",';
			saveInfo += '"newIRN":"'+newIRN+'",';
			saveInfo += '"FullName":"'+document.getElementById("name").innerHTML+'",';
			saveInfo += '"FirstName":"'+document.getElementById("fName").innerHTML+'",';
			saveInfo += '"MiddleName":"'+document.getElementById("mName").innerHTML+'",';
			saveInfo += '"LastName":"'+document.getElementById("lName").innerHTML+'",';
			saveInfo += '"Birthday":"'+document.getElementById("birthday").innerHTML+'",';
			saveInfo += '"SchoolEmail":"'+document.getElementById("email").innerHTML+'",';
			saveInfo += '"Passport":"'+document.getElementById("cmnd").innerHTML+'",';
			saveInfo += '"Department":"'+document.getElementById("dep").value+'",';
			saveInfo += '"image":"'+document.getElementById("imageSV").src+'"';
			
			saveInfo += "}";
			
			return saveInfo;
		}
		
		function checkMSSV(obj) {
		//	addClass(document.getElementById('iconArrow'),'display-none');
			removeClass(document.getElementById('iconLogin'),'display-none');
			
			var url = "ajaxCheckEmail.htm";
			var queryString = "";
			
			queryString += "StaffID="+obj.value;
						
			htmlRequest = ajaxFunction();
			if (htmlRequest==null){ // If it cannot create a new Xmlhttp object.
				alert ("Browser does not support HTTP Request");
				return;
			}
			htmlRequest.onreadystatechange = function(){
				if(htmlRequest.readyState == 4){
				//	alert(htmlRequest.responseText);
					if(trim(htmlRequest.responseText)!= 'NG'){						
						document.getElementById("submit2").disabled = false;			
						lag=true;
						data = trim(htmlRequest.responseText);
						dataSearch = trim(htmlRequest.responseText);
						data = eval('(' + data + ')');
						addClass(document.getElementById('iconLogin'),'display-none');
						removeClass(document.getElementById('iconBlue'),'display-none');
						document.getElementById("masv").innerHTML = data.StaffID;
						document.getElementById("name").innerHTML = data.FullName;
						document.getElementById("fName").innerHTML = data.FirstName;
						document.getElementById("mName").innerHTML = data.MiddleName;
						document.getElementById("lName").innerHTML = data.lastName;
						document.getElementById("birthday").innerHTML = data.Birthday;
						document.getElementById("email").innerHTML = data.SchoolEmail;
						document.getElementById("cmnd").innerHTML = data.Passport;
						document.getElementById("dep").value = data.Department;
						document.getElementById("imageSV").src = data.image;
					}else{
						document.getElementById("submit2").disabled = true;	
						addClass(document.getElementById('iconLogin'),'display-none');
						removeClass(document.getElementById('iconRed'),'display-none');
						alert("IRN is invalid!");
						document.getElementById("mssv").focus();
						data = '';
						dataSearch = '';
					}
				}
			}
			
			htmlRequest.open("POST", url,true);
			htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				
		//	htmlRequest.setRequestHeader("Content-length", queryString.length);
		//	htmlRequest.setRequestHeader("Connection", "close");
			htmlRequest.send(queryString);
		//	htmlRequest.send(null);
			
		}
		
		function ajaxChangeIRN(newIRN){
			addClass(document.getElementById('iconBlue'),'display-none');
		//	alert(newIRN);
		//	alert(lag);
			if(lag==true){
				removeClass(document.getElementById('iconLogin'),'display-none');
				var url = "ajaxUpdateIRN.htm";
				var queryString = "";
				
				var dataAdd = getDataAdd(newIRN);
				queryString += "info="+dataAdd;
				//alert(queryString);exit();
				htmlRequest = ajaxFunction();
				if (htmlRequest==null){ // If it cannot create a new Xmlhttp object.
					alert ("Browser does not support HTTP Request");
					return;
				}
				htmlRequest.onreadystatechange = function(){
					if(htmlRequest.readyState == 4){
						alert(htmlRequest.responseText);						
						closePopup('password');
						addClass(document.getElementById('iconLogin'),'display-none');
						document.getElementById("submit2").disabled = true;	
						//alert(htmlRequest.responseText);
						/*if(trim(htmlRequest.responseText)!= 'NG'){
							alert("IRN changed successful!");
							closePopup('password');
						//	data = '';
						//	data = trim(htmlRequest.responseText);
						//	alert(data);exit();
						//	dataSearch = trim(htmlRequest.responseText);
							//data = eval('(' + data + ')');
						//	alert(data);
						//	var row = loadRowTable(data);
						//	document.getElementById('dsemail').appendChild(row);
						}else{
							alert("IRN change unsuccessful!");
						}*/
					}
				}
				
				htmlRequest.open("POST", url,true);
				htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
				htmlRequest.send(queryString);
			}
			lag=false;
			
			delete dataAdd;
		}
		
		function submitInfo()
		{
			CreateForm.submit();
		}
		
		$(document).ready(function(){
			$('#submit1').click(function() {
				//alert($('input#pwd').val().length);
				//var pwEncrypt;
				
				
				if($('input#pwd').val() != '' && $('input#pwd').val().length == 10 && $('#mssv').val() != $('input#pwd').val()) {
		            /*pwEncrypt = $().crypt( {
		                method: 'md5',
		                source: $('input#pwd').val()
		            });
		            $('input#pwd').val(pwEncrypt);*/
					var msg = "Are you sure to change IRN from ";
					msg += $('#mssv').val();
					msg += " to " + $('input#pwd').val();
					
					if(confirm(msg)){
						ajaxChangeIRN($('input#pwd').val());
						
						return true;
					}	
					delete(msg);
		        } else {
		        //    alert('You must enter a password!');
		            alert('Please! Input a new IRN');
		            return false;
		        } 		 
			});
			
			$('#pwd').click(function(){
				$('#pwd').val('');
			});
			
			$('#cancelPopup').click(function(){
				$('#pwd').val('');
			});
		});
	</script>
</head>

<body scroll="no" style="overflow-y:hidden;" onload="getCookiesUser();ajaxLoadTableChangeIRN();" >
	<!--START: Header (use for cookie)-->
	<input id="UserID" hidden value={val userId} />
	<input id="StartTime" hidden value={val userLoginTime} />
	<div id="outter">
		<div><a href="logout.htm" id="logout">Logout</a><div class="login"><b>{val userName}</b> {val userLoginTime}</div></div>
		<div style="float: left;margin-right: 20px;"><img style="width:100px;" src="../../img/logo.PNG"/></div>
		<div class="bo-bottom bg-line" style="float: right;width: 880px;">
			<div class="bg-titlemp mp-title">TRƯỜNG ĐẠI HỌC QUỐC TẾ MIỀN ĐÔNG<br><span style="font-size: 13pt;color: #1C1757;padding-left: 46px;">EASTERN INTERNATIONAL UNIVERSITY</span></div>
			<div><img src="../../img/report-icon.png" title="Report" onClick="back('listStaff');" style="cursor:pointer;float: right;padding-top: 10px;" /></div>
		</div>
	</div>
	<!--END: Header (use for cookie)-->
	
	<!-- START: Popup Change IRN -->
	<div id="password">
		<h1 style="text-align:center;color:#17375e">Please! Input New IRN</h1>
		<div class="rowPopup ">
				<div class="titlePopup" style="width:100px; padding: 5px 0 5px 0; float:left;">New IRN</div>
						
				<input type="number" id="pwd"/>					
		</div>	
		<div style="margin-top:4px;">
			<div style="width:110px; color:red;float:left" id="res">&nbsp;</div>
			<div style="float:right; width:150px">
				<button id="cancelPopup" style="float:right;" onclick="closePopup('password');">Hủy</button>					
				<button id="submit1" style="float:right;margin-left:0px;">Đồng ý</button>
				
			</div>
		</div>
		<input type="hidden" id="idEmp" value="" />
	</div>
	<!-- END: Popup Change IRN -->
	
	<!-- START: Content -->
	<div id="content" style="margin: 10px auto;clear:both">
		<div class="color-title text-center "><h1>CHANGE IRN</h1></div>
		<div id="iconLogin" class="iconLogin display-none"></div>
		
		<!-- START: Search & Show Information-->
		<div class="row">
			<!-- START: Search IRN -->
			<div id="t-username" class="display-none" style="color:red;margin-left: 72px;">Please choose username!</div>
			<div class="prpoNoDate">
				<input id="mssv" onkeydown="return checkEnter(event)" onChange="disableCheckIcon();" onClick="enableCheckIcon();" type="text" class="inputHeight" type="text" size="20" placeholder="Import Staff ID.">
				<div style="float:right" id="iconRed" class="iconRed display-none"></div>
				<div style="float:right" id="iconBlue" class="iconBlue display-none"></div>
				<button id="submit" style="margin-top:13px;margin-bottom: 10px;margin-left: 0px;" onClick="checkMSSV(document.getElementById('mssv'));">Choose</button>
				<button id="submit2" disabled style="margin-top: -10px;margin-bottom: 10px;margin-left: 0;" onClick="showPopUp();">Change IRN</button>
			</div>
			<!-- END: Search IRN -->
			
			<!-- START: Show Information -->
			<div id="info">
				<div style="float:left;">
					<div style="width: 313px;">
						<div style="float: left;">IRN: &nbsp;</div>
						<div id="masv"></div>
					</div>
					<div style="width: 313px;clear:both">
						<div style="float: left;">FullName: &nbsp;</div>
						<div id="name"></div>
						<div id="fName" style="display:none"></div>
						<div id="mName" style="display:none"></div>
						<div id="lName" style="display:none"></div>
					</div>
					<div style="width: 313px;clear:both">
						<div style="float: left;">Birthday: &nbsp;</div>
						<div id="birthday"></div>
					</div>
					<div style="width: 313px;clear:both">
						<div style="float: left;">Email: &nbsp;</div>
						<div id="email"></div>
					</div>
					<div style="width: 313px;clear:both">
						<div style="float: left;">ID/Passport: &nbsp;</div>
						<div id="cmnd"></div><input id="dep" type="hidden" />
					</div>
				</div>
				<div><img id="imageSV" src=""/></div>
			</div>
			<!-- END: Show Information -->				
		</div>
		<!-- END: Search & Show Information-->
		<div class="clear-both"></div>
		<!-- START: Table contain list Changed IRN-->
		<div style="margin: 20px auto;margin-top: 170px;width:90%">
			<table style="" border=none cellpadding=0 cellspacing=0 width=100%>
				<tr id="title">
					<th style="width: 40px;">No</th>
					<th style="width: 255px;">FullName</th>
					<th style="width: 90px;">New IRN</th>
					<th style="width: 90px;">Old IRN</th>				
					<th style="width: 230px;">New Email</th>
					<th style="width: 230px;">Old Email</th>
					<!--<th><input onclick="clickCheckBox(this);" id="checkAll" style="margin-left:25px;" type=checkbox value=0 /></th>-->
				</tr>
			</table>
			
			<div id="grid">
				<table id="dsemail" border=none cellpadding=0 cellspacing=0 width=100%></table>
			</div>
		</div>
		<!-- END: Table contain list Changed IRN-->		
		<div id="footer">@Copyright Phòng Công Nghệ Thông Tin<br>it@eiu.edu.vn</div>
	</div>
	<!-- END: Content -->
</body>
</html>