<html>
<head>
	<title>CONFIG PASSWORD EMAIL SCREEN</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="../../htm/js/indecator.js"></script>
	<script type="text/javascript" src="../../htm/js/paging.js"></script>
	<script type="text/javascript" src="../../htm/js/base.js"></script>
	<link type="text/css" href="../../tmpl/css/redmond/jquery-ui-1.8.9.custom.css" rel="stylesheet" />
	<link type="text/css" href="../../tmpl/css/popup.css" rel="stylesheet" />
	<script type="text/javascript" src="../../htm/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="../../htm/js/jquery-ui-1.8.9.custom.min.js"></script>
	<script type="text/javascript" src="../../htm/js/jquery.crypt.js"></script>
	
	<style type="text/css">
		body{
			font-size: 12px;
		}
		
		#outter{
			width: 1120px;
			margin: 0 auto;
			/*margin-top: 20px;*/
		}
		
		#header{
		//	width:450px;	
			/*padding-top:15px;*/
		}
		
		#content1{
			width: 100%;
		}
		
		#content{
			width: 100%;
			display: table;
		}
		
		#content1{
			width: 800px;
			display: table;
			clear:both;
		}
		
		#footer{
			text-align:center;
			/*margin-top:300px;*/
			color: #827EB1;
		}
		
		select{
			height: 22px;
			margin-top: 2px;
		}
		
		.row{
			display:table-row;
			width:100%;
		}
		
		.row:nth-child(even){
			background-color: rgb(220, 230, 242);
		}
		
		.row:nth-child(odd){
			background-color:#FFF;
		}
		
		.choose{
			background-color:pink !important;
		}
		
		/*.even{
			background-color: #DCE6F2;
		}*/
		
		.row-title{
			display:table-row;
			background-color: #17375E;
			color: #FFFFFF;
			font-weight:bold;
		}
		
		.mssv, .name,.fromdate,.stt, .address, .ten, .birthday, .email, .cmnd{
			display: table-cell;
			vertical-align:middle;
			border-right: 1px solid #8EB4E3;
			border-top: 1px solid #8EB4E3;
			padding-left:4px;
			padding-top:2px;
			padding-bottom:2px;
		}
		
		.stt{
			text-align:center;
			width:30px;
			border-left: 1px solid #8EB4E3;
		}
		
		.mssv{
			text-align: center;
			width: 80px;
			padding: 0;
			margin: 0;
		}
		
		.name{
			width: 120px;
		}
		
		.email{
			width: 160px;
		}
		
		.ten{
			width:50px;
		}
		
		.birthday{
			width: 60px;
		}
		
		.fromdate{
			text-align: center;
			width: 90px;
		}
		
		.cmnd{
			text-align: center;
			width: 60px;
		}
		
		.address{
			width: 160px;
		}
		
		.title{
			height:34px;
		}
		
		#select{
			width: 245px;
			margin-left: 2px;
			height: 26px;
		}
		
		.inputHeight{
			height:25px;
		}
		
		.text-center{
			text-align:center;
		}
		
		.text-left{
			text-align:left;
		}
		
		.text-right{
			text-align:right;
		}
		
		.color-title{
			color:#17375e;
		}
			
		.txt-center{
			text-align:center;
		}
		
		#indecator{
			margin-left: 298px;
			padding-top:5px;
		}
		/*header*/
	.bg-titlemp{
		color:#c00000;
	}
	.mp-title{
		font-size: 16pt;
		font-weight: bold;
		margin: 5px;
		float:left;
	}
	.bg-line{
		color:#4a7ebb;
		margin-bottom: 10px;
	}
	.bo-bottom{
		border-bottom: 1px solid #8EB4E3;
	}
	a#logout{
		float: right;
		font-size: 10px;
		margin-top: 15px;
	}
	.login{
		color: blue;
		float: right;
		font-size: 15px;
		font-style: italic;
		font-weight: normal;
		margin-right: 10px;
		margin-top: 13px;
	}
	
	
	
	.text-center{
		text-align:center;
	}
	
	.color-title{
		color:#17375e;
	}
	
	.text-left{
		text-align:left;
	}
	
	
	
	a{
		color:#000000;
	}
	
	a:hover{
		color:blue;
	}
	
	a.choose{
		color: blue;
		font-weight: bold;
		text-decoration: underline;
	}
	
	.display{
		display:block;
	}
	.display-none{
		display:none;
	}
	
	.iconLogin {
		background: url("../../img/ajax-loader.gif") no-repeat scroll left center transparent;
		width: 33px;
		height: 31px;
		margin-left: 1021px;;
		margin-top: -4px;
	}
	
	.icon-search{
		float:left;
		padding-top: 3px;
	}
	
	.iconArrow {
		background: url("../../img/arrow.jpg") no-repeat scroll left center transparent;
		width: 33px;
		height: 31px;
		margin: auto;
		margin-top: -4px;
	}
	
	.iconRed {
		background: url("../../img/red.PNG") no-repeat scroll left center transparent;
		width: 33px;
		height: 31px;
		margin: auto;
		margin-top: -4px;
	}
	
	.iconBlue {
		background: url("../../img/blue.PNG") no-repeat scroll left center transparent;
		width: 33px;
		height: 31px;
		margin: auto;
		margin-top: -4px;
	}
	
		#password{
			position: absolute;
			visibility: hidden;
			width: 290px;
			background-color: #DCE6F2;
			border: 1px solid #8EB4E3;
			padding: 25px;
			top: 0;
			left: 188px;
		}
		
		.overflow{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0px;
			top: 0;
			background: black;
			opacity: 0.05;
		}
		
		#pwd{
			margin-left: 10px;
			width: 173px;
			float: left;
			height: 25px;
		}
		
		#scroll{
			/*overflow-y: scroll;*/
			max-height: 358px;
			overflow-x: hidden;
		}
		
		/*paging*/
		#footer{
		
		}
		
		#footer-content{
			margin-left: 460px;
			margin-top: 5px;
		}
		
		#footer-content .float-left{
			border: medium none;
			width: 15px;
			float:left;
		}
		
		.page{
			left: 91px;
			position: absolute;
			top: 214px;
			visibility: hidden;
			width:1099px;
		}
		
		.color-paging{
			color:blue;
		}
		
		.paging{
			font-size:12pt;
			font-weight:bold;
		//	color:blue;
		}
		
		.select-paging{
			color:blue;
			font-weight:bold;
			text-decoration: underline;
		}
		
		.none-select-paging{
			color:#000000;
			font-weight:none;
		}
		
		.first, .last{
			margin: 0 5px;
		}
		
		.none-display{
			display:none;
		}
		
		form{
			margin-bottom: 0;
		}
		
		.cursor{
			cursor: pointer;
		}
		
		.red{
			background-color:red !important;
		}
		
		.yellow{
			background-color:yellow !important;
			/*color:red;*/
		}
	</style>
	
	<script type="text/javascript">
		//HienHuynh 300811 Set default value for paging
		var DEFAULT_ROW_PAGING = 10;
		//End
	
		var dataSearch = "";
		var page = 1;
		var lag=false; //Co dung de cho biet da set paging chua
		
		var dat = '';
		var dataSearch = '';
		var subjectID = '';
		var departmentID = '';
		var departmentName = '';
		var stt='';
		var clickedRow = '';
		var status = 0;
		var isAccessAll=0;
		
		function addClick(row){
		//	alert(row.id);
		//	alert(clickedRow);
			//Tra lai mau cho dong vua click truoc do
			if(clickedRow!=''){
			//	alert(1);
				removeClass(document.getElementById(clickedRow.id),'choose');
			}
			clickedRow = row;
			//đổi màu cho dòng vừa click
			addClass(document.getElementById(row.id),'choose');
		}
		
		function getRowSelected(){
			var strJson = "";
			strJson = '{';
			
			var rowList = document.getElementsByClassName('choose');
			strJson += '"Result":[';
			for(var j=0;j<rowList.length;j++){
				var divid = new String(rowList[j].id);
				
				if(divid.indexOf('r')==0){
					var numberID = divid.replace(/r/g, "");
					//alert(numberID);
					//alert(dataSearch[numberID].isCreate);
					var report = document.getElementById(divid);
					strJson += '{';
					strJson += '"staffID":"' + dataSearch[numberID].Code + '",';
					strJson += '"firstName":"' + dataSearch[numberID].FirstName  + '",';
					strJson += '"middleName":"' + dataSearch[numberID].MiddleName + '",';
					strJson += '"lastName":"' + dataSearch[numberID].LastName + '",';
					strJson += '"dateBirth":"' + dataSearch[numberID].DateBirth + '",';
					strJson += '"monthBirth":"' + dataSearch[numberID].MonthBirth + '",';
					strJson += '"yearBirth":"' + dataSearch[numberID].YearBirth + '",';
					strJson += '"email":"' + dataSearch[numberID].Email + '",';
					strJson += '"department":"' + dataSearch[numberID].Department + '",';
					strJson += '"departmentID":"' + dataSearch[numberID].DepartmentID + '",';
					strJson += '"departmentCode":"' + dataSearch[numberID].DepartmentCode + '",';
					strJson += '"isPublicEmail":"' + dataSearch[numberID].isPublicEmail + '",';
					strJson += '"isCreate":"' + dataSearch[numberID].isCreate + '"';
				
				}
				if(j==rowList.length-1){
					strJson += '}';
				}else{
					strJson += '},';
				}
			}
			
		//	alert(strJson);
			var str = new String(strJson);
			strJson = str.substr(0,str.length-1) + '}]}';
			strJson = strJson.replace(/&/g, "%26");
			strJson = strJson.replace(/\+/g, "%2B");
			
			return strJson;
		}
		
		function resetStt(){
			var temp1 = document.getElementsByClassName('row');
			
			for(i=0;i<temp1.length; i++){
				var divid = new String(temp1[i].id);
				if(divid.indexOf('r')==0){
					document.getElementById(divid)[0].innerHTML = (i+1);
				}
			}
			
		}
		
		function deleteRowChoose(){
			var table = document.getElementById('content');
			var rowList = document.getElementsByClassName('choose');
			for(j=rowList.length-1;j>=0;j--){
				table.removeChild(rowList[j]);
			}
			//resetStt();
		}
		
		function ajaxExportCSVFile() {
			var url = "ajaxExportCSVFile.htm";
			
			var queryString = "info="+getRowSelected();
			//alert(queryString);exit();
			
			if(document.getElementById('checkAll').value==1 || queryString!=''){
				queryString += "&checkAll="+document.getElementById('checkAll').value;
		
				htmlRequest = ajaxFunction();
				if (htmlRequest==null){ // If it cannot create a new Xmlhttp object.
					alert ("Browser does not support HTTP Request");
					return;
				}
				htmlRequest.onreadystatechange = function(){
					if(htmlRequest.readyState == 4){
					//	alert(htmlRequest.responseText);
						if(trim(htmlRequest.responseText)!= ''){
							deleteRowChoose();
							alert(htmlRequest.responseText);
						}
					}
				}
				
				htmlRequest.open("POST", url,true);
				htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
				htmlRequest.send(queryString);
			}else{
				alert("Please choose the export record.");
			}
		}
		
		function getDataSearch(){
			var strDataSearch = "";
			
			if(departmentID!='' && departmentID!=0){
				strDataSearch += '&department='+departmentID;
			}
			
			return strDataSearch;
		}
		
		function ajaxLoadListSV() {
			var content = document.getElementById('content');
			removeContent(content);
			
			document.getElementById('searchBut').disabled = true;

			addClass(document.getElementById('iconSearch'),'display-none');
			removeClass(document.getElementById('iconLogin'),'display-none');
			
			var url = "ajaxLoadListImportedRows.htm";
			
			var data = getDataSearch();
		//	alert(data);
			var queryString = "";
			queryString += data;
		//	alert(queryString);
			htmlRequest = ajaxFunction();
			if (htmlRequest==null){ // If it cannot create a new Xmlhttp object.
				alert ("Browser does not support HTTP Request");
				return;
			}
			htmlRequest.onreadystatechange = function(){
				if(htmlRequest.readyState == 4){
				//	alert(htmlRequest.responseText);
					if(trim(htmlRequest.responseText)!= 'NG'){
						dataSearch = trim(htmlRequest.responseText);
				
						dataSearch = eval('(' + dataSearch + ')');
						dataSearch = dataSearch.Result;
						search();
					}else{
						dataSearch.Result = '';
						search();
					}
					document.getElementById('searchBut').disabled = false;
					addClass(document.getElementById('iconLogin'),'display-none');
					removeClass(document.getElementById('iconSearch'),'display-none');
				}
			}
			
			htmlRequest.open("POST", url,true);
			htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				
		//	htmlRequest.setRequestHeader("Content-length", queryString.length);
		//	htmlRequest.setRequestHeader("Connection", "close");
			htmlRequest.send(queryString);
		//	htmlRequest.send(null);
			
		}
		
		function changeOption(f,type){
			if(type==3){
				/*subjectID = f.subject.options[f.subject.selectedIndex].value;
				
				subNameList=dat.subList;
				for(var i=0; i< subNameList.length; i++){
					if(subNameList[i].RecordID == subjectID){
						departmentID = subNameList[i].DepartmentID;
					}
				}
				
				var frm_dep = document.getElementById('department');
				frm_dep.value = departmentID;*/
				status = f.status.options[f.status.selectedIndex].value;
			//	alert(status);
				
			}else if(type==2){
				departmentID = f.department.options[f.department.selectedIndex].value;
				departmentName = f.department.options[f.department.selectedIndex].innerHTML;
			//	alert(departmentName);
				//stt=1;
				//loadSubject(departmentID);
			}
		}
		
		function submitForm(idRow)
		{
		//	alert(idRow);
		//	alert('staff_form_'+idRow.id);
		//	storeClickedRow(idRow); 
			//if('{val update}' > 1){
				addClick(idRow);
				document.getElementById('staff_form_'+idRow.id).target='_blank';
				document.getElementById('staff_form_'+idRow.id).submit();
			//}
		}
		
		function search(){
		//	alert(stt);
		//	var number = stt;
			stt = 1;
			var content = document.getElementById('content');
		//	removeContent(content);
			
			var ResNum = dataSearch.Result.length;
			//alert(ResNum);
			var id = 0;
			
			for(var i=0;i<ResNum;i++)
			{
				var row = document.createElement('div');
				row.onclick = Function("submitForm(r"+stt+");");
				row.setAttribute('id','r'+stt);
				//row.setAttribute('onBlur',"cursorEnable();");
				row.setAttribute('class','row cursor');
				if(dataSearch.Result[i].isExpire==1){
					addClass(row,'yellow');
				}
				if(dataSearch.Result[i].isExpired==1){
					addClass(row,'red');
				}
				
					//STT
					var STT = document.createElement('div');
					STT.setAttribute('class','stt');
					//STT.setAttribute('onclick',"addClick("+stt+")");
					STT.innerHTML = stt;
				//	number++;
					if((i+1)==ResNum){
						STT.setAttribute('class','stt bo-bottom');
					}
					
					//Email
					var Email = document.createElement('div');
					Email.setAttribute('class','mssv');
					if((i+1)==ResNum){
						Email.setAttribute('class','mssv bo-bottom');
					}
					
					var link = document.createElement('a');
					link.setAttribute('target',"_blank");
					link.innerHTML =  dataSearch.Result[i].Email;
					
					var form = document.createElement('form');
					form.setAttribute('id',"staff_form_r"+stt);
					form.setAttribute('action',"changePasswordEmail.htm");
					form.setAttribute('method',"POST");
					form.setAttribute('name',"changePwdEmail");
					
					var StaffForm = document.createElement('input');
					StaffForm.setAttribute('name',"email");
					StaffForm.setAttribute('type',"hidden");
					StaffForm.value = dataSearch.Result[i].Email;
					
					form.appendChild(StaffForm);
					
					StaffForm = document.createElement('input');
					StaffForm.setAttribute('name',"departmentName");
					StaffForm.setAttribute('type',"hidden");
					StaffForm.value = departmentName;
					
					form.appendChild(StaffForm);
					//alert(dataSearch.Result[i].DepartmentID);
					StaffForm = document.createElement('input');
					StaffForm.setAttribute('name',"departmentID");
					StaffForm.setAttribute('type',"hidden");
					StaffForm.value = dataSearch.Result[i].DepartmentID;
					
					form.appendChild(StaffForm);
					
					Email.appendChild(form);
					Email.appendChild(link);

					
					
				row.appendChild(STT);
				row.appendChild(Email);
								
				content.appendChild(row);
				stt=stt+1;
			}
		//	delete(number);
		}
		
		function process(){
			if('{val add}' > 0){
				removeClass(document.getElementById('addUser'),'display-none');
			}
			if('{val reset}' > 0){
				removeClass(document.getElementById('resetUser'),'display-none');
			}
			if('{val upload}' > 0){
				removeClass(document.getElementById('uploadFile'),'display-none');
			}
			
			if('{val account}' >= 2){
				removeClass(document.getElementById('account'),'display-none');
			}
			if('{val email}' >= 2){
				removeClass(document.getElementById('email'),'display-none');
			}
			
			if('{val list}' > 0){
				removeClass(document.getElementById('report'),'display-none');
			}
		}
		
		function loadDepartmentList(){
			var url = "ajaxLoadListConfigEmailSend.htm";
			
			var queryString = 'permisstion='+'{val permission}';
			
			htmlRequest = ajaxFunction();
			if (htmlRequest==null){ // If it cannot create a new Xmlhttp object.
				alert ("Browser does not support HTTP Request");
				return;
			}
			htmlRequest.onreadystatechange = function(){
				if(htmlRequest.readyState == 4){
					//alert(htmlRequest.responseText);
					dat = htmlRequest.responseText;
				
					dat = eval('(' + dat + ')');
					
					loadDepartment(dat);
				}
			}
			
			htmlRequest.open("POST", url,true);
			htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			htmlRequest.send(queryString);
		}
		
		function loadDepartment(dat){
			//alert(dat.depList);
			stt = 1;
			var department = document.getElementById("department");
			department.innerHTML = "";
			
			var option = document.createElement('option');
			option.innerHTML = "--Choose Department --";
			option.value=0;
			department.appendChild(option);
			
			if(dat!=''){
				depNameList=dat.depList;
				
				for(var i=0; i< depNameList.length; i++){
					var option = document.createElement('option');
					//option.innerHTML =  depNameList[i].DepartmentCode + "-" + depNameList[i].DepartmentName;
					option.innerHTML = depNameList[i].DepartmentName;
					option.value =  depNameList[i].DepartmentID;
					department.appendChild(option);
				}
			}
		}
		
		function loadAjax() {
			var content = document.getElementById('content');
			removeContent(content);
			
			document.getElementById('searchBut').disabled = true;
			
			var data = getDataSearch();
			
			var queryString = '';
			queryString += 'permisstion='+'{val permission}';
			
			if(data != ""){
				queryString += data;
			}
						
			//alert(queryString);exit();
			
			var url = "ajaxLoadEmailByDepartment.htm";
			// Start: Indecator
			run=0;//indecator
			document.getElementById('indecator').setAttribute('style','display:block;');
			doload();
			//exit();
			//end
			htmlRequest = ajaxFunction();
			if (htmlRequest==null){ // If it cannot create a new Xmlhttp object.
				alert ("Browser does not support HTTP Request");
				return;
			} 

			htmlRequest.onreadystatechange = function(){
				if(htmlRequest.readyState == 4){
					//alert(htmlRequest.responseText);exit();
					if(trim(htmlRequest.responseText)!='NG'){
						dataSearch = htmlRequest.responseText;
						dataSearch = eval('(' + dataSearch + ')');
						//alert(dataSearch);
						if(dataSearch!=""){
							search();
						}
					}
					loaded();
					document.getElementById('searchBut').disabled = false;
				}
			}
			
			htmlRequest.open("POST", url,true);
			htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			htmlRequest.send(queryString);
		}
		
		$(document).ready(function(){
			$("#checkAll").click(function(){
				var report = document.getElementById("content");
				//alert(report);
				if(report.hasChildNodes()){
					for(i=0; i<report.childNodes.length;i++){
						var divid = new String(report.childNodes[i].id);
						if(divid.indexOf('r') ==0){
							var numberID = divid.replace(/r/g,"");
							addClick(numberID);
							delete(numberID);
						}
						delete(divid);
					}
				}
			});
			$("#fromexpirecontractdate").datepicker({
				changeMonth: true,
				changeYear: true,
				currentText: 'Now',
				dateFormat: 'yy-mm-dd',
				yearRange : ('-70:+10'),
				dayNamesShort:['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
			});
			$("#fromexpirecontractdate").click(function(){$("#fromexpirecontractdate").val('');});
			$("#toexpirecontractdate").datepicker({
				changeMonth: true,
				changeYear: true,
				currentText: 'Now',
				dateFormat: 'yy-mm-dd',
				yearRange : ('-70:+10'),
				dayNamesShort:['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
			});
			$("#toexpirecontractdate").click(function(){$("#toexpirecontractdate").val('');});
			
			
			$("#createstaffdate").datepicker({
				changeMonth: true,
				changeYear: true,
				currentText: 'Now',
				dateFormat: 'yy-mm-dd',
				yearRange : ('-70:+10'),
				dayNamesShort:['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
			});
			$("#createstaffdate").click(function(){$("#createstaffdate").val('');});
			
			$("#fromcreatecontractdate").datepicker({
				changeMonth: true,
				changeYear: true,
				currentText: 'Now',
				dateFormat: 'yy-mm-dd',
				yearRange : ('-70:+10'),
				dayNamesShort:['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
			});
			$("#fromcreatecontractdate").click(function(){$("#fromcreatecontractdate").val('');});
			
			$("#tocreatecontractdate").datepicker({
				changeMonth: true,
				changeYear: true,
				currentText: 'Now',
				dateFormat: 'yy-mm-dd',
				yearRange : ('-70:+10'),
				dayNamesShort:['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
			});
			$("#tocreatecontractdate").click(function(){$("#tocreatecontractdate").val('');});
		});
	</script>
</head>
<body style="overflow-y:hidden" onload="getCookiesUser();process();loadDepartmentList();">
	<!--use for cookie-->
	<input id="UserID" hidden value={val userId} />
	<input id="StartTime" hidden value={val userLoginTime} />
	
<div id="outter">
		<div><a href="logout.htm" id="logout">Logout</a><div class="login"><b>{val userName}</b> {val userLoginTime}</div>
		<div style="float: left;"><img style="width:100px;" src="../../img/logo.PNG"/></div>
		<div class="bo-bottom bg-line" style="float: right;width:1000px;">
			<div class="bg-titlemp mp-title">TRƯỜNG ĐẠI HỌC QUỐC TẾ MIỀN ĐÔNG<br><span style="font-size: 13pt;color: #1C1757;padding-left: 46px;">EASTERN INTERNATIONAL UNIVERSITY</span></div>
			<!--<div class="" id=""><img src="../../img/changepassicon.jpg" title="Change Password User" onClick="back('changePasswordDetail')" style="cursor:pointer;float: right;padding-top: 10px;width:45px;" /></div>-->
			<div class="display-none" id="report"><img src="../../img/report-icon.png" title="Report" onClick="window.location.href='listStaff.htm'" style="cursor:pointer;float: right;padding-top: 10px;width:45px;" /></div>
			<div class="display-none" id="addUser"><img src="../../img/icon_add_user.jpg" title="Add a new staff" onClick="back('addDetailInfoStaff')" style="cursor:pointer;float: right;padding-top: 10px;width:45px;" /></div>
			<div class="display-none" id="resetUser"><img src="../../img/icon-reset-email.jpg" title="Reset password email" onClick="back('emailpage')" style="cursor:pointer;float: right;padding-top: 10px;width:45px;" /></div>
			<div class="display-none" id="uploadFile"><img src="../../img/icon-upload.png" title="Upload File Staff" onClick="back('importFileStaff')" style="cursor:pointer;float: right;padding-top: 10px;width:50px;" /></div>
			<div class="display-none" id="account"><img src="../../img/icon-staff-card.png" title="Config Account User" onClick="back('listConfig')" style="cursor:pointer;float: right;padding-top: 10px;width:32px;" /></div>
			<div class="display-none" id="email"><img src="../../img/icon-send-email.jpg" title="Auto Send Email" onClick="back('importEnglishClass')" style="cursor:pointer;float: right;padding-top: 10px;width:65px;" /></div>
		</div>
		
		<div id="content1" style="margin: 0 auto;clear:both">
			<div class="text-center color-title"><h1>LIST EMAIL</h1></div>
			<!--<div style="margin:10px 0">
				<div>
					<a href="mainpage.htm">MAIN PAGE</a>
					>>
					<a href="importEmailStaff.htm">UPLOAD FILES</a>
				</div>
			</div>-->
			<div id="header">
				<div>
					<div style="float:left;">
						<form action="no_value">
							<select name="department" id="department" onchange="changeOption(this.form,2)"></select>
						</form>
					</div>
					<div style="float:left;">
						<input type="submit" value='Search' id='searchBut' onclick="loadAjax();"/>
					</div>
					<div id="iconSearch" class="iconSearch"><img style="float:left;width: 20px;margin-top: 3px;" src="../../img/icon_search.png" /></div>
					<div id="indecator" style="display:none;">
						<form name="clkform" action="javascript:void(0);">
							<input name="clk" size="10" style="background-color: transparent;border: medium none;color: #C00000;font-size: 10px;font-weight: bold;margin-left: 5px;" type="text" value="Loading ----" />
						</form>
					</div>
					
			</div>
			
		</div>
		<div id="content1">
			<div id="titleContent" class="row-title">
				<div style="width:40px; border-right:none;" class="stt title txt-center">No.</div>
				<div style="width:250px; border-right:none;" class="email txt-center">Email</div>
			</div>
		</div>
		<div id="scroll">
			<div id="content"></div>
		</div>
		<div id="footer">
			<div id="footer-content"></div>
		</div>
		<div style="text-align:center;color: #827EB1;clear:both;margin-top:100px">@Copyright Office of Information Technology<br>it@eiu.edu.vn</div>
</div>
</html>