<html>
<head>
	<title>ASSET DETAIL</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" href="../../tmpl/css/redmond/jquery-ui-1.8.9.custom.css" rel="stylesheet" />
	<script type="text/javascript" src="../../htm/js/base.js"></script>
	<script type="text/javascript" src="../../htm/js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="../../htm/js/jquery-ui-1.8.9.custom.min.js"></script>
	<style type="text/css">
		body{
			font-size: 12px;
		}
		
		#outter{
			width:900px;
			margin: 0 auto;
			margin-top:20px;
		}
		
		#header{
			width:450px;	
			padding-top:15px;			
		}
		
		#content{
			display:table;
			width:410px;			
		}
		
		#footer{
			width:410px;
			
			text-align:center;
			margin-top:15px;
			margin-left:148px;
			
		}
		.row{			
			width:100%;	
			float:left;
			margin-top:5px;
		}
		
		.telCont, .position, .mobileCont,.contractAmount, .contractUnit, .address, .prpoNo, .prpoNoDate, .costCode, .mcboq, .description, .supplier, .issued, .contract,.shortNameDt,.fullNameDt{
			display: table-cell;
			vertical-align:middle;			
			padding-left:4px;			
		}

		.prpoNo{
			font-weight:bold;
			text-align:right;
			width:80px;
			background-color:#DCE6F2;
			border: 1px solid #8EB4E3;
			padding-right:5px;
			height:20px;
		}
		
		.prpoNoDate{
			width:320px;
			text-align:left;
		}
		.title{
			height:34px;			
		}
		
		.inputHeight{
			height:25px;
		}
		
		.txt-center{
			text-align:center;
		}
		
		
		#titleSResul{
			width:100%; 
			display:table;			
			background-color: #17375E;
			color: #FFFFFF;
			font-weight:bold;
		}
		
			
		.txt-center{
			text-align:center;
		}
		
		/*header*/
	.bg-titlemp{
		color:#c00000;
	}
	.mp-title{
		font-size: 16pt;
		font-weight: bold;
		margin: 5px;
	}
	.bg-line{
		color:#4a7ebb;
		margin-bottom: 10px;
	}
	.bo-bottom{
		border-bottom: 1px solid;
	}
	a#logout{
		float: right;
		font-size: 10px;
		margin-top: 15px;
	}
	.login{
		color: blue;
		float: right;
		font-size: 15px;
		font-style: italic;
		font-weight: normal;
		margin-right: 10px;
		margin-top: 13px;
	}
	.text-center{
		text-align:center;
	}
	
	.text-left{
		text-align:left;
	}
	
	.color-title{
		color:#17375e;
	}
	
	a{
		color:#000000;
	}
	
	a:hover{
		color:blue;
	}
	
	a.choose{
		color: blue;
		font-weight: bold;
		text-decoration: underline;
	}
	
	#saveInfo{
		width:100%;
		float:left;
		margin: 0 auto;
		margin-top:25px;
		
	}
	.widthInput{
		width:229px;
	}
	.bo-bottom {
		border-bottom: 1px solid;
	}
	#.width_text{
		width:228px;	
	}
	</style>
	
	<script type="text/javascript">
		//Làm datePicker
			//$("#fromDateS").datepicker({dateFormat: 'yy-M-dd'});
			$(document).ready(function(){
				$("#txtCheckOutDate").datepicker({dateFormat: 'yy-M-dd'});
			});
		function ajaxLoad_STA()
		{
			var url="ajaxLoad_STA.htm";
			var queryString = "";
			var htmlRequest;
			var dataSearch='';
			htmlRequest = ajaxFunction();
			if (htmlRequest==null)
			{ // If it cannot create a new Xmlhttp object.
				alert ("Browser does not support HTTP Request");
				return;
			}
			htmlRequest.open("POST", url,true);
			htmlRequest.onreadystatechange = function()
			{
				if(htmlRequest.readyState == 4)
				{
					if(trim(htmlRequest.responseText)!='NG')
					{
						dataSearch = htmlRequest.responseText;
						//alert(dataSearch);
						dataSearch=eval('(' + dataSearch + ')');
						Load_STA(dataSearch);
					}
				}
			}
			htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");				
			htmlRequest.send(queryString);
		}
		function Load_STA(dataSearch)
		{
			
			if(dataSearch!="")
			{
				var count=dataSearch.STAList.length;
				//alert(count);
				var slt=document.getElementById("statusList");
				/*var option=document.createElement('option');
				option.innerHTML = "--Status --";
				option.value="s";
				slt.appendChild(option);*/
				
				for(var i=0;i<count;i++)
				{
					var option = document.createElement('option');
					option.innerHTML=dataSearch.STAList[i].staName;
					option.value=dataSearch.STAList[i].staID;
					slt.appendChild(option);
				}
			}
		}
		function ajaxLoad_COND()
			{
				var url="ajaxLoad_Condition.htm";
				var queryString = "";
				var htmlRequest;
				var dataSearch='';
				htmlRequest = ajaxFunction();
				if (htmlRequest==null)
				{ // If it cannot create a new Xmlhttp object.
					alert ("Browser does not support HTTP Request");
					return;
				}
				htmlRequest.open("POST", url,true);
				htmlRequest.onreadystatechange = function()
				{
					if(htmlRequest.readyState == 4)
					{
						if(trim(htmlRequest.responseText)!='NG')
						{
							dataSearch = htmlRequest.responseText;
							//alert(dataSearch);
							dataSearch=eval('(' + dataSearch + ')');
							Load_COND(dataSearch);
						}
					}
				}
				htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");				
				htmlRequest.send(queryString);
			}
			function Load_COND(dataSearch)
			{
				
				if(dataSearch!="")
				{
					var count=dataSearch.ConList.length;
					//alert(count);
					var slt=document.getElementById("condList");
					for(var i=0;i<count;i++)
					{
						var option = document.createElement('option');
						option.innerHTML=dataSearch.ConList[i].conName+" ("+dataSearch.ConList[i].descpt+" )";
						option.value=dataSearch.ConList[i].conID;
						slt.appendChild(option);
					}
					
				}
			}
			function ajaxLoad_Location()
			{
				var url="ajaxLoad_BlockRoom.htm";
				var queryString = "";
				var htmlRequest;
				var dataSearch='';
				htmlRequest = ajaxFunction();
				if (htmlRequest==null)
				{ // If it cannot create a new Xmlhttp object.
					alert ("Browser does not support HTTP Request");
					return;
				}
				htmlRequest.open("POST", url,true);
				htmlRequest.onreadystatechange = function()
				{
					if(htmlRequest.readyState == 4)
					{
						if(trim(htmlRequest.responseText)!='NG')
						{
							dataSearch = htmlRequest.responseText;
							//alert(dataSearch);
							dataSearch=eval('(' + dataSearch + ')');
							Load_Location(dataSearch);
						}
					}
				}
				htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");				
				htmlRequest.send(queryString);
			}
			function Load_Location(dataSearch)
			{
				if(dataSearch!="")
				{
					var count=dataSearch.LocaList.length;
					//alert(count);
					var slt=document.getElementById("locaList");
					
					for(var i=0;i<count;i++)
					{
						var option = document.createElement('option');
						option.innerHTML=dataSearch.LocaList[i].roomName;
						option.value=dataSearch.LocaList[i].roomID;
						slt.appendChild(option);
					}
					
				}
			}
			function ajaxLoad()
			{
				var url="ajaxLoad_AssetCode.htm";
				var queryString ='&assetCode='+record;
				//alert(queryString);
				var htmlRequest;
				var data='';
				htmlRequest = ajaxFunction();
				if (htmlRequest==null)
				{ // If it cannot create a new Xmlhttp object.
					alert ("Browser does not support HTTP Request");
					return;
				}
				htmlRequest.open("POST", url,true);
				htmlRequest.onreadystatechange = function()
				{
					if(htmlRequest.readyState == 4)
					{
						if(trim(htmlRequest.responseText)!='NG')
						{
							data = htmlRequest.responseText;
							//alert(data);
							data=eval('(' + data+ ')');
							Load(data);
						}
					}
				}
				htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");				
				htmlRequest.send(queryString);
			}
			function Load(data)
			{
				var groupCode=document.getElementById("txtgroupCode");
				groupCode.value=data.assetList[0].groupCode;
				groupCode.disabled=true;
				
				var assCode=document.getElementById("txtassetCode");
				assCode.value=data.assetList[0].assCode;
				assCode.disabled=true;
				
				var serial=document.getElementById("txtSerial");
				serial.value=data.assetList[0].serial;
				serial.disabled=true;
				
				var staID=document.getElementById("statusList");
				var option = document.createElement('option');
				option.innerHTML=data.assetList[0].staName;
				option.value=data.assetList[0].staID;
				staID.appendChild(option);
				//staID.disabled="disabled";
				
				var conID=document.getElementById("condList");
				var option = document.createElement('option');
				option.innerHTML=data.assetList[0].conName;
				option.value=data.assetList[0].condition;
				conID.appendChild(option);
				
				var location=document.getElementById("locaList");
				var option = document.createElement('option');
				option.innerHTML=data.assetList[0].roomName;
				option.value=data.assetList[0].location;
				location.appendChild(option);
				
				var coperson=document.getElementById("txtCheckOutPerson");
				coperson.value=data.assetList[0].ckoutPerson;
				coperson.disabled=true;
				
				var codate=document.getElementById("txtCheckOutDate");
				codate.value=data.assetList[0].ckoutDate;
				codate.disabled=true;
				
				var username=document.getElementById("txtUserName");
				username.value=data.assetList[0].userName;
				username.disabled=true;
			}
			function enableEdit()
			{
				var serial=document.getElementById("txtSerial");
				serial.disabled=false;
				
				var coperson=document.getElementById("txtCheckOutPerson");
				coperson.disabled=false;
				
				var codate=document.getElementById("txtCheckOutDate");
				codate.disabled=false;
				
				var username=document.getElementById("txtUserName");
				username.disabled=false;
				document.getElementById("saveBut").disabled=false;
				document.getElementById("editBut").disabled=true;
			}
			function getValueClick(idInput)
			{
				var idValue=document.getElementById(idInput);
				var value=idValue.value;
				idValue.value="";
				idValue.setAttribute("onblur","initVal('"+value+"','"+idInput+"');");
			}
			function initVal(oldStr,idInput)
			{
				var newStr = document.getElementById(idInput).value;
				if(!newStr)
				{
					document.getElementById(idInput).value = oldStr;
				}
			}
			function getUpdate()
			{
				var strData="";
				strData+='&assetCode='+document.getElementById("txtassetCode").value;
				strData+='&serial='+document.getElementById("txtSerial").value;
				var staid=document.getElementById("statusList");
				strData+='&staID='+staid.options[staid.selectedIndex].value;
				var locaID=document.getElementById("locaList");
				strData+='&locaID='+locaID.options[locaID.selectedIndex].value;
				var conID=document.getElementById("condList");
				strData+='&conID='+conID.options[conID.selectedIndex].value;
				strData+='&person='+document.getElementById("txtCheckOutPerson").value;
				strData+='&date='+document.getElementById("txtCheckOutDate").value;
				strData+='&user='+document.getElementById("txtUserName").value;
				return strData;
			}
			function ajaxUpdate()
			{
				var url="ajaxUpdate_detailAsset.htm";
				var queryString="";
				queryString +=getUpdate();
				alert(queryString);
				htmlRequest = ajaxFunction();
				if (htmlRequest==null){ // If it cannot create a new Xmlhttp object.
					alert ("Browser does not support HTTP Request");
					return;
				}
				htmlRequest.open("POST", url,true);
				htmlRequest.onreadystatechange = function()
				{
					if(htmlRequest.readyState == 4)
					{
						
						if(trim(htmlRequest.responseText)=='OK')
						{
							
							alert("Update successfully");
							ajaxLoadGroup_Condition();
							
							var b_footer=document.getElementById('b_footer');
							b_footer.innerHTML="";
							
							document.getElementById("txtGroupID").value="";
							document.getElementById("txtGroupCode").value="GroupCode";
							document.getElementById("txtDescpt").value="Description";
							document.getElementById("txtQReceipt").value="Q.Receipt";
							document.getElementById("txtoutput").value="Output";
							document.getElementById("txtManu").value="Manufacture";
							document.getElementById("txtPO").value="PO Number";
							document.getElementById("txtSupp").value="Supplier";
							document.getElementById("txtAmount").value="Amount";
							document.getElementById("txtRecDate").value="Receipt Date";
							document.getElementById("txtExp").value="Exp";
						}
						else
						{
							alert("Not successfully");
							return;
						}
					}
				}
				htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				htmlRequest.send(queryString);
			}
	</script>
</head>

<body onload=" ajaxLoad();ajaxLoad_STA();;ajaxLoad_COND();ajaxLoad_Location();">
<div id="outter">
		<div style="float:left"><img style="width:100px;" src="../../img/logo.PNG"/></div>
		<div class="bo-bottom bg-line" style="float: left; width:713px;margin-left:20px;margin-top:20px;margin-bottom:18px">
			<div class="bg-titlemp mp-title">TRƯỜNG ĐẠI HỌC QUỐC TẾ MIỀN ĐÔNG<br><span style="font-size: 13pt;color: #1C1757;padding-left: 46px;">EASTERN INTERNATIONAL UNIVERSITY</span></div>
		</div>
		<div class="color-title" style="margin-left:321px"><h1>ASSET DETAIL</h1></div>
		<div id="content" style="margin: 0 auto;">
				<div class="row">
					<div class="prpoNo ">GroupCode</div>
					<div class="prpoNoDate">
						<input id="txtgroupCode" style="width:228px;" class="inputHeight" type="text" size="30">
					</div>
				</div>
				<div class="row">
					<div class="prpoNo ">AssetCode</div>
					<div class="prpoNoDate">
						<input id="txtassetCode" style="width:228px;" class="inputHeight" type="text" size="30">
					</div>
				</div>
				<div class="row">
					<div class="prpoNo ">Serial</div>
					<div class="prpoNoDate"><input id="txtSerial" style="width:228px;" class="inputHeight" type="text" onclick="getValueClick('txtSerial');" size="30"></div>
				</div>
				<div class="row">
					<div class="prpoNo ">Status</div>
					<div class="prpoNoDate">
						<form action="no_value" style="padding:0;margin:0">
							<select class="inputHeight widthInput" value="" name="statusList" id="statusList">
							</select>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="prpoNo ">Location</div>
					<div class="prpoNoDate">
						<form action="no_value" style="padding:0;margin:0">
							<select class="inputHeight widthInput" value="" name="locaList" id="locaList">
							</select>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="prpoNo ">Condition</div>
					<div class="prpoNoDate">
						<form action="no_value" style="padding:0;margin:0">
							<select class="inputHeight widthInput" value="" name="condList" id="condList">
							</select>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="prpoNo ">CheckOut Person</div>
					<div class="prpoNoDate"><input id="txtCheckOutPerson" onclick="getValueClick('txtCheckOutPerson');" style="width:228px;" class="inputHeight" type="text" size="30"></div>
				</div>
				<div class="row">
					<div class="prpoNo ">CheckOut Date</div>
					<div class="prpoNoDate"><input id="txtCheckOutDate" style="width:228px;" onclick="getValueClick('txtCheckOutDate');" class="inputHeight" type="text" size="30"></div>
				</div>
				<div class="row">
					<div class="prpoNo ">UserName</div>
					<div class="prpoNoDate"><input id="txtUserName" onclick="getValueClick('txtUserName');" style="width:228px;" class="inputHeight" type="text" size="30"></div>
				</div>
		</div>
		<div id="footer">
			<button id="cancelBut" style="float:right" onclick="window.close();">Cancel</button>
						
			<button id="saveBut" style="float:right" onclick="ajaxUpdate();" disabled="true">Save</button>
			<button id="editBut" style="float:right" onclick="enableEdit();">Edit</button>
		</div>
		<!-- Chứa thông tin của save info -->
		<div id="saveInfo"></div>
		
</div>
</body>
</html>