<html>
<head>
	<title>EXPORTED EMAIL LIST SCREEN</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" href="../../tmpl/css/popup.css" rel="stylesheet" />
	<script type="text/javascript" src="../../htm/js/indecator.js"></script>
	<script type="text/javascript" src="../../htm/js/base.js"></script>
	<script type="text/javascript" src="../../htm/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="../../htm/js/jquery-ui-1.8.9.custom.min.js"></script>
	<script type="text/javascript" src="../../htm/js/jquery.crypt.js"></script>
	<script type="text/javascript" src="../../htm/js/base.js"></script>
	
	<style type="text/css">
		body{
			font-size: 12px;
		}
		
		#outter{
			width:900px;
			margin: 0 auto;
			margin-top:20px;
		}
		
		#header{
			width:450px;	
			padding-top:15px;
		}
		
		#content{
			/*width: 300px;
			background-color: #DCE6F2;
			border: 1px solid #8EB4E3;
			padding: 25px;*/
		}
		
		#footer{
			text-align:center;
			margin-top:300px;
			color: #827EB1;
		}
		
		.row{			
			margin: 5px;
			margin-right: 30px;
		}
		
		.prpoNo{
			font-weight: bold;
			text-align: left;
			width: 65px;
			padding-right: 5px;
			height: 20px;
			float: left;
			padding-top: 6px;
			color: #17375E;
		}
		
		.prpoNoDate{
			margin-left: 205px;
			margin-top: 42px;
			float: left;
			width: 196px;
		}
		.title{
			height:34px;
		}
		
		.inputHeight{
			height:25px;
		}
		
		.txt-center{
			text-align:center;
		}
		
		
		#titleSResul{
			width:100%; 
			display:table;			
			background-color: #17375E;
			color: #FFFFFF;
			font-weight:bold;
		}
		
			
		.txt-center{
			text-align:center;
		}
		
		#indecator{
			margin-left: 298px;
		}
		/*header*/
	.bg-titlemp{
		color:#c00000;
	}
	.mp-title{
		font-size: 16pt;
		font-weight: bold;
		margin: 5px;
		float: left;
	}
	.bg-line{
		color:#4a7ebb;
		margin-bottom: 10px;
	}
	.bo-bottom{
		border-bottom: 1px solid;
	}
	a#logout{
		float: right;
		font-size: 10px;
		margin-top: 15px;
	}
	.login{
		color: blue;
		float: right;
		font-size: 15px;
		font-style: italic;
		font-weight: normal;
		margin-right: 10px;
		margin-top: 13px;
	}
	
	
	
	.text-center{
		text-align:center;
	}
	
	.color-title{
		color:#17375e;
	}
	
	.text-left{
		text-align:left;
	}
	
	
	
	a{
		color:#000000;
	}
	
	a:hover{
		color:blue;
	}
	
	a.choose{
		color: blue;
		font-weight: bold;
		text-decoration: underline;
	}
	
	.display{
		display:block;
	}
	.display-none{
		display:none;
	}
	
	.iconLogin {
		background: url("../../img/ajax-loader.gif") no-repeat scroll left center transparent;
		width: 33px;
		height: 31px;
		margin: auto;
	}
	
	.iconDelete{
		background: url("../../img/icon-delete.png") no-repeat scroll left center transparent;
		width: 16px;
		height: 16px;
		margin: auto;
	}
	
	.iconArrow {
		background: url("../../img/arrow.jpg") no-repeat scroll left center transparent;
		width: 33px;
		height: 31px;
		margin: auto;
		margin-top: -4px;
	}
	
	.iconRed {
		background: url("../../img/red.PNG") no-repeat scroll left center transparent;
		width: 33px;
		height: 31px;
		margin: auto;
		margin-top: -4px;
	}
	
	.iconBlue {
		background: url("../../img/blue.PNG") no-repeat scroll left center transparent;
		width: 33px;
		height: 31px;
		margin: auto;
		margin-top: -4px;
	}
	
	#pwd{
		margin-left: 10px;
		width: 173px;
		float: left;
		height: 25px;
	}
	
	/*
		Table
	*/
	#info{
		position: absolute;
		left: 670px;
		height: 109px;
		border-radius: 10px;
		top: 162px;
		font-size: 16px;
		font-family: Times New Roman;
		padding: 5px 5px;
		width: 400px;
		border: 1px solid silver;
	}
	
	#info img{
		width: 85px;
		float: right;
	}
	
	#grid{
		/*margin-top:50px;*/
		overflow-y: auto;
		max-height: 351px;
		overflow-x: hidden;
	}
		
	
	table th{
		background-color: #17375E;
		color: white;
		padding:2px;
	}
	table td{
		padding:3px;
		border-right: 1px solid #8EB4E3;
		border-bottom: 1px solid #8EB4E3;
	}
	
	table td.border{
		border-left: 1px solid #8EB4E3;
	}
	
	tr:nth-child(even){
		background-color: rgb(220, 230, 242);
	}
	
	tr:nth-child(odd){
		background-color:#FFF;
	}
	
	.choose{
		background-color:pink !important;
	}
	
	</style>
	
	<script type="text/javascript">
		var stt=0;
		var dataSearch='';
		var lag=false; // cờ dùng để check load select form lần đầu
		var filename="";
	
		function resetStt(){
			var temp1 = document.getElementsByClassName('border');
			
			for(i=0;i<temp1.length; i++){
				var divid = new String(temp1[i].id);
				if(divid.indexOf('r-td-')==0){
					document.getElementById(divid).innerHTML = (i+1);
				}
			}
			
		}
		
		function getRowSelected(){
			var jsonString = "RecordID=";
			var rowList = document.getElementsByClassName('choose');
			for(var j=0;j<rowList.length;j++){
				var divid = new String(rowList[j].id);
				
				if(divid.indexOf('r-')==0){
					if(j==rowList.length-1){
						jsonString += divid;
					}else{
						jsonString += divid+",";
					}
				}
			}
			
			return jsonString.replace(/r-/g, "");
		}
		
		function deleteRowChoose(){
			var table = document.getElementById('dsemail');
			var rowList = document.getElementsByClassName('choose');
			for(j=rowList.length-1;j>=0;j--){
				table.removeChild(rowList[j]);
			}
			resetStt();
		}
		
		function ajaxExportCSVFile() {
			var url = "ajaxExportCSVFileResetPwd.htm";
			var queryString = "";
			
			//queryString += getRowSelected();
			if(filename==''){
				queryString += "checkAll=1&isExported=1";
			}else{
				queryString += "FileName="+filename+"&isExported=1";
			}
			
			htmlRequest = ajaxFunction();
			if (htmlRequest==null){ // If it cannot create a new Xmlhttp object.
				alert ("Browser does not support HTTP Request");
				return;
			}
			htmlRequest.onreadystatechange = function(){
				if(htmlRequest.readyState == 4){
					alert(htmlRequest.responseText);
					deleteRowChoose();
					/*if(trim(htmlRequest.responseText)!= 'NG'){
						
					}else{
					
					}*/
				}
			}
			
			htmlRequest.open("POST", url,true);
			htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				
			htmlRequest.send(queryString);
			
		}
		
		function addClick(rowID){
			var lag = document.getElementById('check-'+rowID).value;
			if(lag==0){
				addClass(document.getElementById('r-'+rowID),'choose');
				document.getElementById('check-'+rowID).value=1;
			}else{
				removeClass(document.getElementById('r-'+rowID),'choose');
				document.getElementById('check-'+rowID).value=0;
			}
		}
		
		function clickCheckBox(obj){
			if(obj.value==0){
				obj.value=1;
				var trList = document.getElementsByTagName('TR');
				for(k=0;k<trList.length;k++){
					if(trList[k].id != 'title'){
						addClass(trList[k],'choose');
					}
				}
			}else{
				obj.value=0;
				var trList = document.getElementsByTagName('TR');
				for(k=0;k<trList.length;k++){
					if(trList[k].id!='title'){
						removeClass(trList[k],'choose');
					}
				}
			}
		}
		
		function loadRowTable(row){
			var tr = document.createElement('TR');
			tr.setAttribute('id', 'r-'+row.RecordID);
				
			var td = document.createElement('td');
			td.setAttribute('class','border');
			td.setAttribute('id','r-td-'+row.RecordID);
			td.setAttribute('onclick',"addClick("+row.RecordID+")");
			td.innerHTML =(stt+1);
			tr.appendChild(td);
			
			td = document.createElement('td');
			var ta = document.createTextNode(row.StaffID);
			td.appendChild(ta);
			td.setAttribute('onclick',"addClick("+row.RecordID+")");
			tr.appendChild(td);
			
			td = document.createElement('td');
			ta = document.createTextNode(row.FullName);
			td.appendChild(ta);
			td.setAttribute('onclick',"addClick("+row.RecordID+")");
			tr.appendChild(td);
			
			/*td = document.createElement('td');
			ta = document.createTextNode(row.TenVN);
			td.appendChild(ta);
			td.setAttribute('onclick',"addClick("+row.RecordID+")");
			tr.appendChild(td);*/
			
			td = document.createElement('td');
			ta = document.createTextNode(row.SchoolEmail);
			td.appendChild(ta);
			td.setAttribute('onclick',"addClick("+row.RecordID+")");
			tr.appendChild(td);
			
			td = document.createElement('td');
			
			var deleteImg = document.createElement('div');
			deleteImg.setAttribute('id','del-'+row.RecordID);
			deleteImg.setAttribute('class','iconDelete');
			deleteImg.setAttribute('onClick',"deleteRow('"+row.RecordID+"')");
			td.appendChild(deleteImg);
		//	tr.appendChild(td);
			
			var checkbtn = document.createElement('input');
			checkbtn.setAttribute('id','check-'+row.RecordID);
			checkbtn.setAttribute('hidden','');
			checkbtn.value=0;
			
			tr.appendChild(checkbtn);
			
			stt++;
			return tr;
		}
		
		function loadTable(arrList){
			var ResNum = arrList.Result.length;
			
			i=0;
			
			document.getElementById('grid').innertHTML = '';
			table = document.getElementById('dsemail');
			table.innerHTML = '';
			
			//alert(arrList.Result[i].RecordID);
			for(i;i<ResNum;i++){
				tr = loadRowTable(arrList.Result[i]);
				table.appendChild(tr);
			}
			
			document.getElementById('grid').appendChild(table);
		}
		
		function loadFileNameList(dat){
			fileNameList=dat.listFileName;
			
			var FileNameObj = document.getElementById("exportedfile");
			FileNameObj.innerHTML = "";
			
			var option = document.createElement('option');
			option.innerHTML = "--Select File Name --";
			FileNameObj.appendChild(option);
			
			for(var i=0; i< fileNameList.length; i++){
				var option = document.createElement('option');
				option.innerHTML = fileNameList[i].FileName;
				option.value =  fileNameList[i].FileName;
				FileNameObj.appendChild(option);
			}
		}
		
		
		function changeOption(f){
			filename = f.exportedfile.options[f.exportedfile.selectedIndex].innerHTML;
			if(filename=="--Select File Name --"){
				filename='';
				f.exportedfile.options[f.exportedfile.selectedIndex].innerHTML = "--Select File Name --";
			}else{
				f.exportedfile.options[f.exportedfile.selectedIndex].innerHTML = filename;
			}
			ajaxLoadTableResetPwd();
			
		}
		
		function ajaxLoadTableResetPwd(){
			var url = "ajaxLoadListSVExported.htm";
			var queryString = "";
			//alert(filename);
			if(filename!=''){
				queryString += "FileName="+filename;
			}
			//queryString = "FileName=20111130-0448amResetEmail.csv";
		//	alert(queryString);
			htmlRequest = ajaxFunction();
			if (htmlRequest==null){ // If it cannot create a new Xmlhttp object.
				alert ("Browser does not support HTTP Request");
				return;
			}
			
			htmlRequest.onreadystatechange = function(){
				if(htmlRequest.readyState == 4){
					//alert(htmlRequest.responseText);
					
					if(trim(htmlRequest.responseText)!= 'NG'){
						var data = trim(htmlRequest.responseText);
						data = eval('(' + data + ')');
						if(lag==false){
							loadFileNameList(data);
							lag=true;
						}
						loadTable(data);
						resetStt();
					}else{
						addClass(document.getElementById('btnExport'),'display-none');
					}
				}
			}
			
			htmlRequest.open("POST", url,true);
			htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				
			htmlRequest.send(queryString);
		}
		
		function checkMSSV(obj) {
		//	addClass(document.getElementById('iconArrow'),'display-none');
			removeClass(document.getElementById('iconLogin'),'display-none');
			
			var url = "ajaxCheckEmail.htm";
			var queryString = "";
			
			queryString += "mssv="+obj.value;
						
			htmlRequest = ajaxFunction();
			if (htmlRequest==null){ // If it cannot create a new Xmlhttp object.
				alert ("Browser does not support HTTP Request");
				return;
			}
			htmlRequest.onreadystatechange = function(){
				if(htmlRequest.readyState == 4){
				//	alert(htmlRequest.responseText);
					if(trim(htmlRequest.responseText)!= 'NG'){
						lag=true;
						data = trim(htmlRequest.responseText);
						dataSearch = trim(htmlRequest.responseText);
						data = eval('(' + data + ')');
						addClass(document.getElementById('iconLogin'),'display-none');
						removeClass(document.getElementById('iconBlue'),'display-none');
						document.getElementById("masv").innerHTML = data.MSSV;
						document.getElementById("name").innerHTML = data.HoLotVN+" "+data.TenVN;
						document.getElementById("birthday").innerHTML = data.birthday;
						document.getElementById("email").innerHTML = data.EmailTruong;
						document.getElementById("cmnd").innerHTML = data.CMND;
						document.getElementById("imageSV").src = data.image;
					}else{
						addClass(document.getElementById('iconLogin'),'display-none');
						removeClass(document.getElementById('iconRed'),'display-none');
						alert("Mã số sinh viên không đúng. Vui lòng nhập lại mã số sinh viên.");
						document.getElementById("mssv").focus();
						data = '';
						dataSearch = '';
					}
				}
			}
			
			htmlRequest.open("POST", url,true);
			htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				
		//	htmlRequest.setRequestHeader("Content-length", queryString.length);
		//	htmlRequest.setRequestHeader("Connection", "close");
			htmlRequest.send(queryString);
		//	htmlRequest.send(null);
			
		}
		
		function ajaxInsertEmailResetPwd() {
			if(lag==true){
				var url = "ajaxInsertEmailResetPwd.htm";
				var queryString = "";
				
				queryString += "info="+dataSearch;
							
				htmlRequest = ajaxFunction();
				if (htmlRequest==null){ // If it cannot create a new Xmlhttp object.
					alert ("Browser does not support HTTP Request");
					return;
				}
				htmlRequest.onreadystatechange = function(){
					if(htmlRequest.readyState == 4){
						if(trim(htmlRequest.responseText)!= 'NG'){
							data = '';
							data = trim(htmlRequest.responseText);
							dataSearch = trim(htmlRequest.responseText);
							data = eval('(' + data + ')');
							
							var row = loadRowTable(data);
							document.getElementById('dsemail').appendChild(row);
						}else{
						}
					}
				}
				
				htmlRequest.open("POST", url,true);
				htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					
				htmlRequest.send(queryString);
			}
			lag=false;
		}
		
		function submitInfo()
		{
			CreateForm.submit();
		}
		
		$(document).ready(function(){
			$('#submit1').click(function() {
				var pwEncrypt;
				 
				if( $('input#pwd').val() != '' ) {
		            pwEncrypt = $().crypt( {
		                method: 'md5',
		                source: $('input#pwd').val()
		            });
		            $('input#pwd').val(pwEncrypt);
					checkPwd();
		            return;
		        } else {
		        //    alert('You must enter a password!');
		            alert('Vui lòng nhập vào mật khẩu!');
		            return false;
		        } 		 
			});
			
			$('#pwd').click(function(){
				$('#pwd').val('');
			});
			
			$('#cancelPopup').click(function(){
				$('#pwd').val('');
			});
		});
	</script>
</head>

<body scroll="no" style="overflow-y:hidden;" onload="ajaxLoadTableResetPwd();" >
<div id="outter">
		<div style="float: left;margin-right: 20px;"><img style="width:100px;" src="../../img/logo.PNG"/></div>
		<div class="bo-bottom bg-line" style="float: right;width: 780px;margin-top: 16px;">
			<div class="bg-titlemp mp-title">TRƯỜNG ĐẠI HỌC QUỐC TẾ MIỀN ĐÔNG<br><span style="font-size: 13pt;color: #1C1757;padding-left: 46px;">EASTERN INTERNATIONAL UNIVERSITY</span></div>
			<div><img src="../../img/icon-reset-email.jpg" title="Reset Password Email" width=50px onClick="back('restoreTemplate');" style="float: right;padding-left:5px;padding-top: 10px;" /><img src="../../img/report-icon.png" title="Report" onClick="back('listStaff');" style="cursor:pointer;float: right;padding-top: 10px;" /></div>
		</div>
		<div id="password">
			<div class="rowPopup ">
					<div class="titlePopup" style="width:100px; padding: 5px 0 5px 0; float:left;">Mật khẩu</div>
					<input type="password" id="pwd"/>					
			</div>	
			<div style="margin-top:4px;">
				<div style="width:110px; color:red;float:left" id="res">&nbsp;</div>
				<div style="float:right; width:150px">
					<button id="cancelPopup" style="float:right;" onclick="closePopup('password');">Hủy</button>					
					<button id="submit1" style="float:right;margin-left:0px;">Đồng ý</button>
					
				</div>
			</div>
			<input type="hidden" id="idEmp" value="" />
		</div>
		<div id="content" style="margin: 10px auto;clear:both">
			<div class="color-title text-center "><h1>VIEW CREATED FILE</h1></div>
			
			<div>
				<form action="no_value" style="padding:0;margin:0">
					<select name="exportedfile" id="exportedfile" style="width: 215px;margin-left: 2px;height: 26px;" onchange="changeOption(this.form)"></select>
				</form>
			</div>
		<table style="margin-top:4px" border=none cellpadding=0 cellspacing=0 width=100%>
			<tr id="title">
				<th style="width: 20px;">No</th>
				<th style="width: 65px;">Staff ID</th>
				<th style="width: 160px;">FullName</th>
				<th style="width: 326px;">Email</th>
				<!--<th><input onclick="clickCheckBox(this);" id="checkAll" style="margin-left:25px;" type=checkbox value=0 /></th>-->
			</tr>
		</table>
		
		<div id="grid">
			<table id="dsemail" border=none cellpadding=0 cellspacing=0 width=100%>
			</table>
			
		</div>
		<div><button id="submit" style="float:right;" onClick="window.location.href='emailpage.htm'">Reset Password Page</button><button id="btnExport" style="float:right;" onClick="ajaxExportCSVFile()">Export CSV File</button></div>
		<div id="footer">@Copyright Phòng Công Nghệ Thông Tin<br>it@eiu.edu.vn</div>
</div>
</html>