<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="../../tmpl/css/login-local.css" type="text/css">
    <script type="text/javascript" src="../../htm/js/indecator.js"></script>
	<script type="text/javascript" src="../../htm/js/base.js"></script>
	<link type="text/css" href="../../tmpl/css/redmond/jquery-ui-1.8.9.custom.css" rel="stylesheet" />
	<script type="text/javascript" src="../../htm/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="../../htm/js/jquery-ui-1.8.9.custom.min.js"></script>

	<script type="text/javascript" src="../../htm/js/jquery.crypt.js"></script>
	<script type="text/javascript">
		function ajaxLogin(){
			var strQuery = "";											
			strQuery += 'staffId='+document.getElementById('staffID').value;
			strQuery += '&password='+document.getElementById('password').value;
			var url = "ajaxLoginLocal.htm";

			htmlRequest = ajaxFunction();

			if (htmlRequest==null){ // If it cannot create a new Xmlhttp object.
				alert ("Browser does not support HTTP Request");
				return;
			}
		
			htmlRequest.onreadystatechange = function()
			{
				if(htmlRequest.readyState == 4)
				{//alert(trim(htmlRequest.responseText));
					if(trim(htmlRequest.responseText)=='OK')
					{		
																	
						alert("Đăng nhập thành công!");								
						window.location.href = "listStaff.htm";		
					}
					else
					{
						alert("Đăng nhập không thành công!");
						return;
					}
				}
			}		
			htmlRequest.open("POST", url,true);
			htmlRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			htmlRequest.send(strQuery);
			
			
		}
	</script>
</head>
<body>
	<div class="marquee">
		<marquee behavior="alternate" scrolldelay="250"	>
			<p><b>Lưu ý</b>: Để tăng tốc độ xử lý trên phần mềm khuyến khích người dùng sài tài khoản do Phòng CNTT cấp. </p>
		</marquee>
	</div>
	
	<div class="login-page">
		
		<div class="form">

		  <form class="login-form">
			  <h2>Đăng nhập</h2>
			<input type="text" id="staffID" placeholder="Tài Khoản"/>
			<input type="password"  id="password" placeholder="Mật Khẩu"/>
			<button class="login"  onclick="ajaxLogin()">Đăng nhập</button>
			<p class="message">Hoặc Đăng Nhập Bằng Gmail</p>
			<a href="login.htm" class="gmail">	Google
			</a>
			<div class="contact">
				<p>
					Phòng CNTT : 0274 222 0375 
				
				</p>
				<p>
					Mail: it.office@eiu.edu.vn
				</p>
			</div>
		  </form>
		</div>
	  </div>
</body>
</html>