<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register PW</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="../../htm/js/indecator.js"></script>
	<script type="text/javascript" src="../../htm/js/paging.js"></script>
	<script type="text/javascript" src="../../htm/js/base.js"></script>
	<link type="text/css" href="../../tmpl/css/redmond/jquery-ui-1.8.9.custom.css" rel="stylesheet" />
	<link type="text/css" href="../../tmpl/css/popup.css" rel="stylesheet" />
	<script type="text/javascript" src="../../htm/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="../../htm/js/jquery-ui-1.8.9.custom.min.js"></script>
	<script type="text/javascript" src="../../htm/js/jquery.crypt.js"></script>
	<link type="text/css" href="../../tmpl/css/register.css" rel="stylesheet" />
</head>
<body>
    <main>
       <div id="form-pw">
		   <h3>
			   Thông Tin
		   </h3>
		   <div class="search"> 
			   <input type="text" placeholder="Staff ID">
			   <button class="button bg-line"> Tìm kiếm</button>
		   </div>
		   <div class="info">
				<input type="text" placeholder="Tên" readonly>
				<input type="text" placeholder="Mạt khẩu">
		   </div>
		   <div class="button">
			   <button class="button">Save</button>
		   </div>
	   </div>
    </main>
</body>
<script type="text/javascript">
	function ajxaSearch(){
		
	}
</script>
</html>